
* {
    margin: 0px;
    padding: 0px;
}
/*header*/
   
.logo-header{
    margin-top: 1%;
    width: 80px;
    padding: 0.6%;
 }

 .bg-nav{
    background-color: #00b4d8;
    border-bottom: 2px solid #d67ab1;
}

.estilos{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Louis George Cafe Bold';
    text-transform: capitalize;
    color: #dab6fc;
    padding: 0 1.3rem;
}

.estilos:hover{
    color: palegreen;
}

.header-formulario{
    background-color: #00b4d8;
    border-bottom: 3px solid #d67ab1;
}

.logo{
    width: 8%;
}
/*Fin Header*/

/*seccion formulario*/
.container{
    margin-top: 5%;
}

.formulario{
    text-decoration: none;
    color: mistyrose;
}

/*imagen del castillo editada de la pagina principal*/
.imagen-castillo {
    width: 100%;
}

/*Fuentes*/
@font-face {
    font-family:'Blacklisted';
    src: url('../web-fonts/blacklisted-webfont.woff') format('woff');
    font-display: swap;}      
    
@font-face {
    font-family: 'Louis George Cafe Bold';
    src: url('../web-fonts/louis_george_cafe_bold-webfont.woff') format('woff');
    font-display: swap;
}

/*Secciones*/

/*secciones 3,4,5,6 y 7 de la pagina principal*/
.texto {
    margin: 5% 0 5% 0.5%;
    font-weight: 900;
    font-size: large;
    font-style: normal;
    font-family: 'Louis George Cafe Bold';
    text-transform: uppercase;
    }
.opciones {
        color: pink;
        margin-bottom: 0.8%;
        font-family:'Blacklisted';
        font-size: x-large;
        text-shadow: cornflowerblue 5px 2px 4px;
    }

    /*seccion 1 y 2:imagenes y sus textos de la pagina principal*/
.imagenes {
   margin-top: 10%;
   width: 350px;
}

.container-imagenes{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*transiciones y tranformaciones*/
.container-imagenes:hover .krusty-image,
.container-imagenes:hover .typhoon-image,
.container-imagenes:hover .disney-image{
    transform: scale(1.1);
}

.disney-image{
    transition: all 5s linear;
}
.typhoon-image{
    transition: all 3s linear;
}
.krusty-image{
    height: 81%;
    transition: all 1s linear;
}

/*fin*/
.flex-imagenes{
    display: flex;
    flex-direction: column;
}

/*seccion hoteles*/
.hoteles{
    text-decoration: none;
    color: mistyrose;
    font-size: 1rem;
    font-weight: 100;
}
/*transiciones y tranformaciones*/
.enlaces{
    width: 60%;
    height: 20%;
    font-size: 20px;
    list-style-type: none;
}

.enlaces:hover .hotel-uno,
.enlaces:hover .hotel-dos,
.enlaces:hover .hotel-tres,
.enlaces:hover .hotel-cuatro,
.enlaces:hover .hotel-cinco,
.enlaces:hover .hotel-seis,
.enlaces:hover .hotel-siete,
.enlaces:hover .hotel-ocho{
    transform: rotateY(25deg);
}

.hotel-uno{
    transition: all 5s ease;
}

.hotel-dos{
    transition: all 8s ease;
}

.hotel-tres{
    transition: all 11s ease;
}

.hotel-cuatro{
    transition: all 14s ease;
}

.hotel-cinco{
    transition: all 17s ease;
}

.hotel-seis{
    transition: all 20s ease;
}

.hotel-siete{
    transition: all 23s ease;
}

.hotel-ocho{
    transition: all 26s ease;
}
/*fin*/
/*imagenes de la seccion transporte*/
.alamo{
height: 169px;
width: 250px;
}
.alamo,.hertz{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-top: 3%;
    padding-right: 10%;
}

/*titulos de las fotos de la pagina principal*/
.lugares {
    margin-left: 0.5%;
    font-family: 'Louis George Cafe Bold';
    font-size: medium;
    font-weight: 200;
    font-style: italic;
    color: pink;
}


body {
    background-image: url('../imagenes/fondo-avion.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    color:#fffd5d;
    font-family:'Louis George Cafe Bold';
}

/*animaciones para los parrafos y las listas ordenadas y desordenadas*/
p{
    animation-duration: 3s;
    animation-name: slidetext;
}

@keyframes slidetext {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

.lista-desordenada, .lista-ordenada{
    animation-duration: 6s;
    animation-name: slidelist;
}

@keyframes slidelist {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

/*Titulos en la pagina de excursiones*/
h1{
    margin-top: 7%;
}

.titles {
    text-transform:uppercase;
    color: pink;
    font-weight: 600;
    font-size: xx-large;
    font-family:'Blacklisted';
    text-shadow: cornflowerblue 5px 2px 4px;
}


.section-container{
     margin-top: 3.5%;
}

/*Subtitulos en la pagina de excursiones*/
.nombres-parques {
text-transform: capitalize;
color: #fffd5d;
font-weight: 400;
margin-top: 3.5%;
font-family: 'Louis George Cafe Bold';
}

/*textos de la pagina excursiones*/
ol li{
    color:pink ;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size:larger;
}
ul li{
    color:pink;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size: larger;
}
.parrafo-excursiones {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    }

/*imagenes de la pagina excursiones*/
.imagen-piratas{
    height: 204px;
    width: 387px;
}
.imagen-revenge{
    height: 204px;
    width: 387px;
}
.imagen-adventure{
    height: 230px;
}

.imagenes-atracciones{
    margin-top: 1%;
    padding-right: 6%;
}

/*footer de la pagina principal*/

.iconos-redes{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
}

.iconos-redes ul{
    list-style-type: none;
    grid-area: 1 / 2 / 1 / 7;
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

/*transiciones y transformaciones de la rama agus-branch*/
.icons:hover .face,
.icons:hover .insta,
.icons:hover .whats,
.icons:hover .twitt{
    transform: rotate(180deg);
}

.face{
    transition: all 3s ease;
}

.insta{
    transition: all 3s ease-out;
}

.whats{
    transition: all 3s ease-in-out;
}

.twitt{
    transition: all 3s ease-in;
}


/*media queries*/
@media only screen and (max-width:599px){
    header{
        border-bottom: 2px solid #00b4d8;
        background-color: #d67ab1
    }
   .opciones {
        color: cornflowerblue;
        margin-bottom: 0.8%;
        font-family:'Blacklisted';
        font-size: x-large;
        text-shadow: pink 5px 2px 4px;
    }
    ol li{
    color:lightblue ;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size:larger;
}
ul li{
    color:lightblue;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size: larger;
}
    body{
        color: white;
    }
    .nombres-parques{
        color: white;
    }
    .lugares {
    margin-left: 2%;
    font-family: 'Louis George Cafe Bold';
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    color: lightblue;
}
    .titles {
    text-transform:uppercase;
    color: cornflowerblue;
    font-weight: 600;
    font-size: xx-large;
    font-family:'Blacklisted';
    text-shadow: pink 5px 2px 4px;
}

   
}

@media only screen and (min-width:600px) and (max-width:1024px){
        header{
        border-bottom: 2px solid #00b4d8;
        background-color: #d67ab1
}
.opciones {
        color: blueviolet;
        margin-bottom: 0.8%;
        font-family:'Blacklisted';
        font-size: x-large;
        text-shadow: beige 5px 2px 4px;
    }
    .nombres-parques{
        color: cornflowerblue;
    }
    body{
        color: cornflowerblue;
    }
    .titles{
    text-transform:uppercase;
    color: blueviolet;
    font-weight: 600;
    font-size: xx-large;
    font-family:'Blacklisted';
    text-shadow: beige 5px 2px 4px;
    }
      ol li{
    color:azure ;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size:larger;
}
   ul li{
    color:azure;
    text-transform: uppercase;
    font-family: 'Louis George Cafe Bold';
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size: larger;
  }
    .lugares {
    font-family: 'Louis George Cafe Bold';
    font-size: large;
    font-weight: 300;
    font-style: normal;
    color: azure;
}
    
}
