/*selector universal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-header {
  width: 80px;
  padding: 0.6%;
  margin: 1% 0 0 0;
}

.logo {
  width: 8%;
}

.estilos {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  color: #f1c0e8;
}

/*Secciones 3,4,5,6 y 7 de la pagina principal*/
.texto {
  font-size: large;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: uppercase;
  font-style: italic;
  margin: 5% 0 5% 0.5%;
}

h1 {
  margin: 7% 0 0 0;
}

.lugares {
  text-decoration: full-width;
  font-size: medium;
  font-weight: 200;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  color: #f1c0e8;
}

.section-container {
  margin: 3.5% 0 0 0;
}

/*Subtitulos de la pagina excursiones*/
.nombres-parques {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  font-style: italic;
  margin-top: 3.5%;
}

/*Textos de la pagina excursiones*/
ol li {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  list-style-type: none;
  color: #f1c0e8;
}

ul li {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  list-style-type: none;
  color: #f1c0e8;
}

.parrafo-excursiones {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Louis George Cafe Bold";
  text-transform: uppercase;
  font-style: normal;
}

/*Seccion Hoteles*/
.hoteles {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  font-style: normal;
  color: #f1c0e8;
}

.hoteles:hover {
  color: palegreen;
}

.enlaces {
  font-size: 1rem;
  list-style-type: none;
}

/*Imagenes de la pagina excursiones*/
.imagenes-atracciones {
  padding: 0 6% 0 0;
  margin: 1% 0 0 0;
}

/*Footer de la pagina principal*/
.iconos-redes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.iconos-redes ul {
  display: flex;
  justify-content: space-around;
  grid-area: 1/2/1/7;
  margin: 5% 0;
  list-style-type: none;
}

/*transformaciones y transiciones de las redes sociales*/
.icons:hover .face,
.icons:hover .insta,
.icons:hover .whats,
.icons:hover .twitt {
  transform: rotate(180deg);
}

.face {
  transition: all 3s ease;
}

.insta {
  transition: all 3s ease-out;
}

.whats {
  transition: all 3s ease-in-out;
}

.twitt {
  transition: all 3s ease-in;
}

/*header*/
header {
  background-color: #48cae4;
  border-bottom: 2px solid #f1c0e8;
}
header nav ul li {
  font-style: normal;
}
header nav ul li a {
  color: #f1c0e8;
  padding: 0 1.3rem;
}
header nav ul li a:hover {
  color: palegreen;
}

/*fin header*/
/*selector universal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-header {
  width: 80px;
  padding: 0.6%;
  margin: 1% 0 0 0;
}

.logo {
  width: 8%;
}

.estilos {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  color: #f1c0e8;
}

/*Secciones 3,4,5,6 y 7 de la pagina principal*/
.texto {
  font-size: large;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: uppercase;
  font-style: italic;
  margin: 5% 0 5% 0.5%;
}

h1 {
  margin: 7% 0 0 0;
}

.lugares {
  text-decoration: full-width;
  font-size: medium;
  font-weight: 200;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  color: #f1c0e8;
}

.section-container {
  margin: 3.5% 0 0 0;
}

/*Subtitulos de la pagina excursiones*/
.nombres-parques {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  font-style: italic;
  margin-top: 3.5%;
}

/*Textos de la pagina excursiones*/
ol li {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  list-style-type: none;
  color: #f1c0e8;
}

ul li {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Louis George Cafe Bold";
  text-transform: lowercase;
  font-style: italic;
  list-style-type: none;
  color: #f1c0e8;
}

.parrafo-excursiones {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Louis George Cafe Bold";
  text-transform: uppercase;
  font-style: normal;
}

/*Seccion Hoteles*/
.hoteles {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Louis George Cafe Bold";
  text-transform: capitalize;
  font-style: normal;
  color: #f1c0e8;
}

.hoteles:hover {
  color: palegreen;
}

.enlaces {
  font-size: 1rem;
  list-style-type: none;
}

/*Imagenes de la pagina excursiones*/
.imagenes-atracciones {
  padding: 0 6% 0 0;
  margin: 1% 0 0 0;
}

/*Footer de la pagina principal*/
.iconos-redes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.iconos-redes ul {
  display: flex;
  justify-content: space-around;
  grid-area: 1/2/1/7;
  margin: 5% 0;
  list-style-type: none;
}

/*transformaciones y transiciones de las redes sociales*/
.icons:hover .face,
.icons:hover .insta,
.icons:hover .whats,
.icons:hover .twitt {
  transform: rotate(180deg);
}

.face {
  transition: all 3s ease;
}

.insta {
  transition: all 3s ease-out;
}

.whats {
  transition: all 3s ease-in-out;
}

.twitt {
  transition: all 3s ease-in;
}

/*seccion formulario*/
.formulario {
  color: #f1c0e8;
  text-decoration: none;
}

.formulario:hover {
  color: palegreen;
}

.container {
  margin-top: 5%;
}

/*Fuentes*/
@font-face {
  font-family: "Blacklisted";
  src: url("../web-fonts/blacklisted-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Louis George Cafe Bold";
  src: url("../web-fonts/louis_george_cafe_bold-webfont.woff") format("woff");
  font-display: swap;
}
.titles, .opciones {
  text-transform: uppercase;
  color: #f1c0e8;
  font-weight: 600;
  font-size: xx-large;
  font-family: "Blacklisted";
  text-shadow: #ade8f4 5px 2px 4px;
  font-style: oblique;
}

.opciones {
  margin-bottom: 0.8%;
}

.hertz, .alamo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-top: 3%;
  padding-right: 10%;
}

/*imagenes de la seccion transporte*/
body {
  color: #ade8f4;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Louis George Cafe Bold";
}

/*imagen del castillo en la pagina principal*/
.imagen-castillo {
  width: 100%;
}

/*media queries*/
@media only screen and (max-width: 599px) {
  header {
    border-bottom: 2px solid #48cae4;
    background-color: #f1c0e8;
  }

  .opciones {
    margin-bottom: 0.8%;
    font-size: x-large;
    font-family: "Blacklisted";
    color: #ade8f4;
    text-shadow: #f1c0e8 5px 2px 4px;
  }

  ol li {
    color: #ade8f4;
    text-transform: uppercase;
    font-family: "Louis George Cafe Bold";
    font-weight: 700;
    margin-bottom: 0.5%;
    font-size: medium;
  }

  ul li {
    color: #ade8f4;
    text-transform: uppercase;
    font-family: "Louis George Cafe Bold";
    font-weight: 700;
    margin-bottom: 0.5%;
    font-size: medium;
  }

  .hoteles {
    color: #ade8f4;
  }

  .estilos {
    color: #ade8f4;
  }

  .formulario {
    color: #ade8f4;
  }

  body {
    color: #f1c0e8;
  }

  .nombres-parques {
    color: #f1c0e8;
  }

  .lugares {
    margin-left: 2%;
    font-family: "Louis George Cafe Bold";
    color: #ade8f4;
    font-size: medium;
    font-style: italic;
    font-weight: 200;
  }

  .titles {
    text-transform: uppercase;
    color: #ade8f4;
    font-weight: 400;
    font-size: x-large;
    font-family: "Blacklisted";
    text-shadow: #f1c0e8 5px 2px 4px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  header {
    background-color: #f1c0e8;
    border-bottom: 2px solid #48cae4;
  }

  .opciones {
    color: #ade8f4;
    margin-bottom: 0.8%;
    font-family: "Blacklisted";
    font-size: xx-large;
    text-shadow: #f1c0e8 5px 2px 4px;
  }

  .hoteles {
    color: #ade8f4;
  }

  .estilos {
    color: #ade8f4;
  }

  .formulario {
    color: #ade8f4;
  }

  .nombres-parques {
    color: #f1c0e8;
  }

  body {
    color: #f1c0e8;
  }

  .titles {
    text-transform: uppercase;
    color: #ade8f4;
    font-weight: 600;
    font-size: xx-large;
    font-family: "Blacklisted";
    text-shadow: #f1c0e8 5px 2px 4px;
  }

  ol li {
    color: #ade8f4;
    text-transform: uppercase;
    font-family: "Louis George Cafe Bold";
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size: larger;
  }

  ul li {
    color: #ade8f4;
    text-transform: uppercase;
    font-family: "Louis George Cafe Bold";
    font-weight: 900;
    margin-bottom: 0.5%;
    font-size: larger;
  }

  .lugares {
    font-family: "Louis George Cafe Bold";
    font-size: larger;
    font-weight: 200;
    font-style: italic;
    color: #ade8f4;
  }
}

/*# sourceMappingURL=style.css.map */
