@import '../base/listas';
@import '../base/variable';

/*seccion formulario*/ 
.formulario{
    color: nth($colores, 5);
    text-decoration: $text-decoration;
} 


.formulario:hover{
    color: nth($colores, 1 );
}
.container{
    margin-top: 5%;
}