%letras{
    text-transform:uppercase;
    color: #f1c0e8;
    font-weight: 600;
    font-size: xx-large;
    font-family:'Blacklisted';
    text-shadow: #ade8f4 5px 2px 4px;
    font-style: oblique;
}

.opciones{
    @extend %letras;
    margin-bottom: 0.8%;
}


.titles{
    @extend %letras;
}

%imagenes{
     filter: brightness(1.1);
     mix-blend-mode: multiply;
     margin-top: 3%;
     padding-right: 10%;
     
}

/*imagenes de la seccion transporte*/ 
.alamo{
    @extend %imagenes;
}

.hertz{
    @extend %imagenes;
}