%letras{
    text-transform:uppercase;
    color: pink;
    font-weight: 600;
    font-size: xx-large;
    font-family:'Blacklisted';
    text-shadow: cornflowerblue 5px 2px 4px;
    font-style: oblique;
}

.opciones{
    @extend %letras;
    margin-bottom: 0.8%;
}


.titles{
    @extend %letras;
}