/*Fuentes*/ 

@font-face {
    font-family:'Blacklisted';
    src: url('../web-fonts/blacklisted-webfont.woff') format('woff');
    font-display: swap;}      
    
@font-face {
    font-family: 'Louis George Cafe Bold';
    src: url('../web-fonts/louis_george_cafe_bold-webfont.woff') format('woff');
    font-display: swap;
}