
@mixin medidas ($ancho, $relleno, $margen) {
    width: $ancho;
    padding: $relleno;
    margin: $margen;
}

/*selector universal*/ 
*{
    @include medidas(null, 0, 0);
    box-sizing: border-box;
}

.logo-header{
    @include medidas(80px ,0.6% ,1% 0 0 0 );
}

.logo{
    @include medidas(8%, null,null )
}

@mixin estilos ($decoracion, $size, $peso, $fuente, $tipo, $estilo, $sombra, $lista) {
    text-decoration: $decoracion;
    font-size: $size;
    font-weight: $peso;
    font-family: $fuente;
    text-transform: $tipo;
    font-style: $estilo;
    text-shadow: $sombra;
    list-style-type: $lista;
}


.estilos{
    @include estilos(none, 1.2rem, 500, 'Louis George Cafe Bold', capitalize, null, null, null);
}

/*Secciones 3,4,5,6 y 7 de la pagina principal*/ 


.texto{
    @include estilos(null, large, 900, 'Louis George Cafe Bold', uppercase, italic, null, null);
    margin: 5% 0 5% 0.5%;
}


h1{
    @include medidas(null, null, 7% 0 0 0);
}

.lugares{
    @include estilos(full-width, medium, 200, 'Louis George Cafe Bold', lowercase, italic, null, null);
    color: pink;
}

.section-container{
    @include medidas(null, null, 3.5% 0 0 0);
}

/*Subtitulos de la pagina excursiones*/ 

.nombres-parques{
    @include estilos( null, 2rem, 400, 'Louis George Cafe Bold', capitalize, italic, null, null);
    margin-top: 3.5%;
}

/*Textos de la pagina excursiones*/ 

ol li{
    @include estilos(null, 1.5rem, 900, 'Louis George Cafe Bold', lowercase, italic, null, none);
    color: pink;
}

ul li{
    @include estilos(null, 1.5rem, 900, 'Louis George Cafe Bold', lowercase, italic, null, none);
    color: pink;
}

.parrafo-excursiones{
    @include estilos(null, 1.5rem, 900, 'Louis George Cafe Bold', uppercase, normal, null, null);
}

/*Seccion Hoteles*/ 

.hoteles{
    @include estilos(none, 1rem, 100, 'Louis George Cafe Bold', capitalize, normal, null, null);
}

.enlaces{
    font-size: 1rem;
    list-style-type: none;
}

/*Imagenes de la pagina excursiones*/ 

.imagenes-atracciones{
    @include medidas(null, 0 6% 0 0,1% 0 0 0 );
}

@mixin display ($display, $gridcol, $gridrow, $area, $horizontal) {
      display: $display;
      grid-template-columns: $gridcol;
      grid-template-rows: $gridrow;
      grid-area: $area;
      justify-content: $horizontal;
}

/*Footer de la pagina principal*/ 

.iconos-redes{
    @include display(grid, repeat(7,1fr), repeat(1,1fr), null, null);
}

.iconos-redes ul{
    @include display(flex, null, null, 1 / 2 / 1 / 7, space-around);
    margin: 5% 0;
    list-style-type: none;
}

@mixin transformaciones ($valor) {
    transform: $valor;
}

/*transformaciones y transiciones de las redes sociales*/ 
.icons:hover .face,
.icons:hover .insta,
.icons:hover .whats,
.icons:hover .twitt{
    @include transformaciones(rotate(180deg));
}

.face{
    transition: all 3s ease;
}

.insta{
    transition: all 3s ease-out;
}

.whats{
    transition: all 3s ease-in-out;
}

.twitt{
    transition: all 3s ease-in;
}